
body {
    font-family:Arial;
    font-size:20px;
    background: url("../img/bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}


#carousel {
    width:960px;
    margin: 60px auto;
    height:300px;
    position:relative;
    clear:both;
    overflow:hidden;
    background: rgba(255, 255, 255, .4);
}
#carousel img {
    visibility:hidden; /* hide images until carousel can handle them */
    cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}

.split-left {
    width:450px;
    float:left;
}
.split-right {
    width:400px;
    float:left;
    margin-left:10px;
}
#callback-output {
    height:250px;
    overflow:scroll;
}
textarea#newoptions {
    width:430px;
}
.nav {
    width: 300px;
    margin: 0 auto;
}

.nav a {
    margin: 20px 20px;
    padding: 20px;
    text-decoration: none;
    color: #ccc;
    background: rgba(0, 0, 0, .8);
    border: solid 1px #000;
}